

#table {
 // margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
  
  
    margin: 0  !important;
    border: 1px solid !important;
    padding: 1px !important;
    font-size: 11px  !important;
}

#table thead {
  cursor: pointer;
  background: #c9dff0;
}
#table thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#table thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#table thead tr th.headerSortUp, #table thead tr th.headerSortDown {
  background: #acc8dd;
}

#table thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
}
#table thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}


#table tbody tr {
  color: #555;
}
#table tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#table tbody tr td.lalign {
  text-align: left;
}
