################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PHPWebProject1.phpproj
/.vs/PHPWebProject1/v14/.suo
